@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all;
}
.btn-secondary {
  @apply px-6 py-2  rounded-3xl;
}
.btn-secondary.active {
  @apply px-6 py-2 bg-secondary rounded-3xl text-white;
}

.slick-dots {
  @apply !flex justify-start w-full;
}
.slick-dots .slick-active div {
  @apply bg-primary w-4 h-4;
}
.slick-dots li {
  margin: 0;
}
